<div class="col-md-6">
  <%= simple_form_for @task do |f| %>
    <p><%= f.input :title, input_html: { :style=> 'width: 50%;'}%></p>
    <p><%= f.input :description, :as => :text, input_html: { :style=> 'width: 50%;'}%></p>
    <%= f.label "Priority"%>
    <p><%= f.select :priority, Task::PRIORITIES %></p>
    <p><%= f.input :due_date, as: :date, html5: true, input_html: { :style=> 'width: 50%;'}%></p>
    <p><%= f.input :completed%></p>
    <p><%= f.button :submit%></p>
  <%end%>
</div>
